.dark-theme {
  &__main-bg {
    background-color: hsl(222, 26%, 31%);
  }
  &__toggle-keypad-bg {
    background-color: hsl(223, 31%, 20%);
  }
  &__screen-bg {
    background-color: hsl(224, 36%, 15%);
  }
  &__key-bg {
    background-color: hsl(30, 25%, 89%);
    &--equal-toggle {
      background-color: hsl(6, 63%, 50%);
    }
    &--del-reset {
      background-color: hsl(225, 21%, 49%);
    }
  }
  &__key-shadow {
    box-shadow:  hsl(28, 16%, 65%) 0 -0.3rem inset;
    &--equal {
      box-shadow: hsl(6, 70%, 34%) 0 -0.3rem inset;
    }
    &--del-reset {
      box-shadow: hsl(224, 28%, 35%) 0 -0.3rem inset;
    }
    &--toggle {
      box-shadow: hsl(6, 70%, 34%) 0 0 4px;
    }
  }
  &__text {
    &--dark, &--keys {
      color: hsl(221, 14%, 31%);
    }
    &--white, &--output, &--title, &--spec-keys {
      color: hsl(0, 0, 100%);
    }
    &--toggle {
      color: hsl(6, 63%, 50%);
    }
    &--theme-chooser {
      color: hsl(0, 0, 100%);
    }
  }
}

.light-theme {
  &__main-bg {
    background-color: hsl(0, 0%, 90%);
  }
  &__toggle-keypad-bg {
    background-color: hsl(0, 5%, 81%);
  }
  &__screen-bg {
    background-color: hsl(0, 0%, 93%);
  }
  &__key-bg {
    background-color: hsl(45, 7%, 89%);
    &--equal-toggle {
      background-color: hsl(25, 98%, 40%);
    }
    &--del-reset {
      background-color: hsl(185, 42%, 37%);
    }
  }
  &__key-shadow {
    box-shadow: hsl(35, 11%, 61%) 0 -0.3rem inset;
    &--toggle {
      box-shadow: hsl(25, 99%, 27%) 0 0 4px;
    }
    &--del-reset {
      box-shadow: hsl(185, 58%, 25%) 0 -0.3rem inset;
    }
    &--equal {
      box-shadow: hsl(25, 99%, 27%) 0 -0.3rem inset;
    }
  }
  &__text {
    &--dark, &--theme-chooser, &--output, &--title, &--keys {
      color: hsl(60, 10%, 19%);
    }
    &--white, &--spec-keys {
      color: hsl(0, 0, 100%);
    }
    &--toggle {
      color: hsl(25, 98%, 40%);
    }
  }
}

.purple-theme {
  &__main-bg {
    background-color: hsl(268, 75%, 9%);
  }
  &__toggle-keypad-bg {
    background-color: hsl(268, 71%, 12%);
  }
  &__screen-bg {
    background-color: hsl(268, 71%, 12%);
  }
  &__key-bg {
    background-color: hsl(268, 47%, 21%);
    &--equal-toggle {
      background-color: hsl(176, 100%, 44%);
    }
    &--del-reset {
      background-color: hsl(281, 89%, 26%);
    }
  }
  &__key-shadow {
    box-shadow: hsl(285, 91%, 52%) 0 -0.3rem inset;
    &--toggle {
      box-shadow: hsl(177, 92%, 70%) 0 0 4px;
    }
    &--del-reset {
      box-shadow: hsl(290, 70%, 36%) 0 -0.3rem inset;
    }
    &--equal{
      box-shadow: hsl(177, 92%, 70%) 0 -0.3rem inset;
    }
  }
  &__text {
    &--dark, &--spec-equal {
      color: hsl(198, 20%, 13%);
    }
    &--white, &--spec-keys {
      color: hsl(0, 0, 100%);
    }
    &--light-yellow, &--theme-chooser, &--output, &--title, &--keys {
      color: hsl(52, 100%, 62%);
    }
    &--toggle {
      color: hsl(176, 100%, 44%);
    }
  }
}
